# Vim
vim/plugged
vim/autoload/plug.vim.old

.netrwhist
# Emacs
emacs.d/elpa/
emacs.d/places
emacs.d/backups/
emacs.d/.smex-items

# Tmux Plugins
tmux/plugins/*
tmux/resurrect

# zsh
zsh/.zcompdump*
zsh/_git
zsh/completions

# zsh themes
zsh/custom/themes/
