[user]
	name = Weverton do Couto Timoteo
	email = me@wolcan.us

[github]
  username = wolcanus

[credential]
	helper = osxkeychain
[core]
	excludesfile = "$HOME/.gitignore_global"

[color]
  ui = auto

[alias]
  st  = status
  ci  = commit
  br  = branch
  co  = checkout
  df  = diff
  lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  who = shortlog -s --
