[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
