[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
